<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Product</h1>
    <form action="/product" method="POST">
        <input type="text" name="product_name" placeholder="Product Name" required />
      <input type="text" name="product_price" placeholder="Product Price" required />
      <input type="number" name="product_quantity" placeholder="Quantity" required />
      <button type="submit">Create Product</button>
    </form>
</body>
</html>     